node_modules
dist
dist-ssr
*.local
.DS_Store
*.log
.vite
duofest-6c070-firebase-adminsdk-fbsvc-5d55fd0167.json
duofest-6c070-firebase-adminsdk-fbsvc-5d55fd0167.json
duofest-6c070-firebase-adminsdk-fbsvc-5d55fd0167.json
